@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,
body{
    padding: 0;
    margin: 0 ;
}

h2{
    color: #47B749;
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
}
.padding{
    width: 90%;
    padding:0 30px ;
} 

.line{
    margin: 50px auto 30px auto; 
    border-bottom: #47B749 1px solid;
    width: 80%;
}
.services{
    margin: 0 auto;
    gap: 20px;
}
.services,
.feature,
.top_sell,
.products{
    display: flex;
    justify-content: space-between;
}
.feature{
    overflow-x: auto;
    display: flex;
    gap: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 450px;
    margin: 0 auto;
}
.feature::-webkit-scrollbar{
    display: none;
}
.feature > *{
    flex-shrink: 0;
}
.top_sell{
    margin: auto;
    width: 70%;
}
.products{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
}
.explore{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #47B749;
    border: #47B749 1px solid;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 10px auto 0 auto;
    font-size: 1.2rem;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transition: 0.2s ease;
    cursor: pointer;
}
.explore i{
    font-weight:900;
}
.explore:hover{
    background: #ffffff;
    border: #fff 1px solid;
    color: #47B749;
}

.header{
    background: url('/src/assets/image/bg.jpg') center/ cover no-repeat;
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.header .title{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.header .title h3{
    color: #fff;
    font-size: 1.7rem;
}
.header .title img{
    width: 330px;
}
.header .title span{
    font-family: Pacifico;
    color: #fff;
    font-size: 1.5rem;
}
.header .search{
    width: 40%;
    display: flex;
    justify-content: center;
    transition: 0.2s ease;
    cursor: pointer;
}
.header .search:hover input{
    border-bottom: #47B749 1px solid;
    outline: none;
    text-align: start;
}
.header .search input::before{
    border: none;
}
.header .search:hover a{
    color: #47B749;
    background-color: transparent !important;
}
.header .search:hover input::placeholder{
    color: #47B749;
}
.header .search input{
    background-color: transparent;
    text-align: center;
    width: 180px;
    border: none;
    border-bottom: #fff 1px solid;
    color: #fff;
    margin-left: 10px;
}
.header .search input::placeholder{
    color: #fff;
    font-weight: 100;
}
.header .search a{
    color: #fff;
    font-size: 1.1rem;
}
.about{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.about img{
    width: 300px;
    height: auto;
    margin-right: 80px;
}
.about .aboutDes{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
}
.about .aboutDes h2{
    font-family: Pacifico
}
.about .aboutDes a{
    font-family: Pacifico;
    color: #000;
}
.about .aboutDes button{
    background-color: #47B749;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    border: #47B749 1px solid;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}
.about .aboutDes button:hover{
    background-color: #fff;
    color: #47B749;
}

.inp{
    margin: 0 auto;
    padding:0 10% ;
    height: 60px;
    display: flex;
    align-items: center;
}
.inp .filter{
    background-color: #47B749;
    border: #47B749 1px solid;
    border-radius: 5px;
    padding: 8px 15px;
    color: #fff;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}
.inp .filter:hover{
    background-color: #fff;
    color: #47B749;
    border: #47B749 1px solid;
}
.inp h3{
    color: #47B749;
    margin-right: 20px;
}